@import "../css/colors";

.full-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $bg;
  color: $bg-color;

}