//Buttons
.btn-hookedin {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #fff;
}

.btn-hookedin-sm {
  font-weight: bold;

  color: #fff;
}
.submit-button-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  font-weight: bold;
}
