
.transaction-card {
  background-color: #fff;

  box-shadow: 0 5px 24px 0 rgba(0,0,0,.04);
  border-radius: 0.2rem;
  margin: 1rem 0;
}
.transaction-card:hover{
  box-shadow: 0 5px 24px 0 rgba(0,0,0,.1);
}
.transaction-card i {
  margin-right: 0.5rem;
}
.transaction-card i.fa-long-arrow-up {
  color: $bright-red;
  background: $bg;
  padding: 10px;
  border-radius:5px;
}
.transaction-card i.fa-long-arrow-down{
  color: $wintergreen;
  background: $bg;
  padding: 10px;
  border-radius:5px;
}
.transaction-card .badge {
  margin: 0 0.4rem;
}
.transaction-card span.sent {
  color: $bright-red;
}
.transaction-card span.received {
  color: $wintergreen;
}
.transaction-card .badge.confirmed{
  background-color: $wintergreen;
}
.transaction-card .badge.pending{
  background-color: $light-gray;
}

.transaction-history-header {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
}

.transaction-card a {
  padding: 1.5rem;
}

// Icons

.transaction-card .fa-arrow-circle-up, .transaction-card .lightning-payment {
  color: $bright-red;
}

.transaction-card .fa-arrow-circle-down, .transaction-card .lightning-invoice {
  color: $wintergreen;
}

.transaction-card {
  /*
   --fa-primary-color: $wintergreen;
   --fa-secondary-color: $wintergreen;
   */
  --fa-primary-opacity: 1.0;
  --fa-secondary-opacity: 0.3;

}
