
// Mobile View
//Will display if screen is smaller than 576px
@include media-breakpoint-down(xs) {
    .custom-navbar {
        display: grid;
        grid-area: navbar;
        grid-template-columns: repeat(5, 1fr);
        justify-items: center;
        color: $white;
        height: $mobile-navbar-height;
        align-items: center;
    }
    .custom-navbar a{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navbar .navbar-brand {
        text-transform: lowercase;
        letter-spacing: 0.03rem;
        font-size: 1.5rem;
        font-weight: 500;
        color: $theme-blue;
        flex-direction: row;

    }
    .navbar-link-text {
        display: none;
    }
    .custom-navbar .fal, .custom-navbar .fab  {
        font-size: 1.3em;
    }

}

// Desktop view -- called sidenav
//Will display if screen is bigger than 576px
@include media-breakpoint-up(sm) {
    .custom-navbar {
        grid-area: sidenav;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 110px) 1fr;
        color: $white;
        align-items: center;
        text-align: center;
        height: 100vh;
    }

    .custom-navbar a {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 0.7rem;
        letter-spacing: 0.2rem;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 0.5rem;
    }
    .custom-navbar .navbar-brand {
        text-transform: lowercase;
        letter-spacing: 0.03rem;
        font-size: 1.5rem;
        font-weight: 500;
        color: #fff;
        flex-direction: row;

    }
    #active-nav {
        border-left: $neon-blue 3px solid;
    }
    .navbar-link-text {
        margin-top: 0.5rem;
    }
    .custom-navbar .fal, .custom-navbar .fab  {
        font-size: 3em;
    }

}

// General

#active-nav {
    color: #fff;
    background: darken($theme-blue, 25%);
}
#active-nav:hover {
    color: #fff;
    background: darken($theme-blue, 25%);
}

// Logo
.logo {
    width: 40px;
    margin: 0 0.5rem 0 0;
}