.table {
  margin-bottom: 1rem;
  color: #434d57;
  border-collapse: collapse;

  width: 100%;
  table-layout: fixed;
}

td {
  border: none;
  position: relative;
  word-wrap: break-word;
}

@include media-breakpoint-down(md) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    display: none;
  }
  tr {
    border-bottom: 1px solid #ccc;
  }

  td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
}
