@import "../css/colors.scss";

.content-card {
  background-color: #fff;
  padding: 1.5rem;
  box-shadow: 0 5px 24px 0 rgba(0,0,0,.04);
  border-radius: 0.2rem;
  margin: 1rem 0;
}
.content-card:hover{
  box-shadow: 0 5px 24px 0 rgba(0,0,0,.1);
}



.circle-icon {
  margin-right: 0.5rem;
}

.circle-icon.confirmed {
  color: $wintergreen;
}

.circle-icon.not-confirmed {
  color: $bright-red;
}
.content-card .badge {
  margin: 0 0.2rem;
}
.content-card .badge.sent {
  color: $bright-red;
  background-color: transparent;
}
.content-card .badge.received {
  color: $wintergreen;
  background-color: transparent;
}
.content-card span.sent {
  color: $bright-red;
}
.content-card span.received {
  color: $wintergreen;
}
.content-card .badge.confirmed{
  background-color: $wintergreen;
}
.content-card .badge.not-confirmed{
  background-color: gray;
}