$bg: #3D91F9;
$bg-color: #fff; //Color of text on the bg color above
$navbar-color: #fff;
$footer-color: #fff;
$light-gray: #c8d6e5;
$custom-link-color: #fff;
$light-blue-nav-link: lighten($bg, 15%);
$neon-blue: #18dcff;